body {
    margin: 0;
    height: 100vh;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-title {
    font-size: 4rem;
}

.sub-title {
    font-family: system-ui;
}

.container {
    width: 40vw;
    padding: 2rem;
    font-family: system-ui;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-base-container {
    height: 100%;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
}

.login-base-container svg {
    padding: 2rem;
    width: 30vw;
}

.path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash 5s ease-in-out alternate-reverse infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.container a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.container a:hover {
    color: white;
}

.container p>a {
    color: white;
}

.container h1 {
    color: white;
}

.message {
    color: #ff0000;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.form-input:focus {
    outline: none;
}

.submit-button {
    padding: 10px 20px;
    color: black;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.member-info {
    color: white;
}


/* Medium devices such as tablets (768px and up) */
@media (max-width: 768px) {
    .login-base-container {
        flex-direction: column;
    }
}