* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* nav bar */
.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 2;
    display: flex;
    list-style: none;
    padding: 5px 50px 5px 50px;
    gap: 20px;
    border-bottom: 1px solid #F2F2F2;
}
.navbar li {
    display: inline-block;
    align-self: center;
    font-family: "Roboto";
}
.navbar li:nth-child(1) a {
    display: flex;
    align-items: center;
    font-family: "Anton";
    font-size: xx-large;
}
.navbar li:nth-child(2) {
    margin-right: auto;     /* Push other items to left of nav bar */
}
.navbar a {
    text-decoration: none;
    color: black;
}

/* search abr and magnify icon */
.search-bar {
    border-radius: 15px;
    background-color: #F2F2F2;
    height: 40px;
    padding: 5px;
}
.search-bar form {
    display: flex;
    align-items: center;
    max-height: 30px;
}
.search-bar form button {
    font-size: xx-large;
    border: none;
}
.search-bar input[type="search"] {
    font-size: 16px;
    background-color: #F2F2F2;
    border: none;
}
.navbar li:nth-child(3) span {
    font-size: xx-large;
}
.navbar li:nth-child(3) {   /* align icon with 'write' */
    display: flex;
    align-items: center;
}






/* main flex-grid has two boxes: left window and main content */
.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 50px 50px 0 50px;
}
.left-window {
    flex: 2;
    border-right: 1px solid #F2F2F2;
    font-family: Roboto;
}
.topics {
    position: sticky;
    top: 60px;
}
.topics h4 {
    padding: 10px 10px 10px 0;
}
.topics ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 15px 15px 0;
}
.topics li {
    list-style: none;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 20px;
}
.topics a {
    text-decoration: none;
    color: black;
}




.main-content {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 70px;
    font-family: Roboto;
}

.post {
    padding: 30px 0 30px 0;
}
.post {
    border-bottom: 1px solid #F2F2F2;
}
.post-header ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
    color: #676767;
}
.post h2 {
    padding: 10px 0 10px 0;

}
.post-container {
    display: flex;
    justify-content: space-between;
}
.post-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.post-main-content {
    flex: 1;
    font-family: Baskervville;
}
.post-footer {  /* post topics and save button */
    display: flex;
    justify-content: space-between;
}
.post-footer ul {
    list-style: none;
}
.post-footer ul li {
    background-color: #F2F2F2;
    padding: 5px;
    border-radius: 20px;
    font-size: 13px;
}
.post-footer span {   /* save button icon */
    font-size: x-large;
}
.post-footer p {
    display: flex;
    align-items: center;
}
.post-thumbnail {
    padding: 0 0 30px 30px;
}



.article-container {
    display: flex;
    justify-content: center;
}
.full-article {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.full-article p:has(> img) {
    text-align: center;
}
.full-article img {
    align-self: center;
}







footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #F2F2F2;
    padding: 30px;
    font-family: Roboto;
    background-color: #F2F2F2;
}
footer div {
    text-align: center;
    padding: 10px;
}
footer div span{
    font-family: Anton;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}