:root {
    background-color: black;
    --main-bg: white;
    --border-color: #F2F2F2;
    --main-text: black;
    --link-color: black;
    --clap-comment-color: #aaa;
}
  
:root.dark {
    --main-bg: #161616;
    --main-text: rgb(255, 255, 255);
    --border-color: #343434;
    --link-color: #ffffff;
    --clap-comment-color: #c5c6c7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background 0.5s linear;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--main-text);
}

/* nav bar */
.navbar {
    background-color: var(--main-bg);
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 2;
    display: flex;
    list-style: none;
    padding: 0.5rem 2rem 0.5rem 2rem;
    gap: 20px;
    border-bottom: 1px solid var(--border-color);
}
.navbar li {
    display: inline-block;
    align-self: center;
    font-family: "Roboto";
    font-size: 16px;
}
.navbar li:nth-child(1) a {
    display: flex;
    align-items: center;
    font-family: "Anton";
    font-size: xx-large;
    color: var(--link-color);
}
.navbar li:nth-child(1) a svg {
    fill: var(--link-color);
}
.navbar li:nth-child(4) {
    margin-right: auto;     /* Push other items to left of nav bar */
}
.navbar a {
    text-decoration: none;
    color: var(--link-color);
}
.navbar a:hover {
    font-weight: 500;
}

/* search abr and magnify icon */
.search-bar {
    border-radius: 4px;
    background-color: var(--border-color);
    max-height: 40px;
    padding: 5px;
}
.search-bar form {
    display: flex;
    align-items: center;
    max-height: 30px;
}
.search-bar form button {
    background-color: var(--border-color);
    color: var(--clap-comment-color);
    font-size: x-large;
    border: none;
}
.search-bar form button:hover {
    color: black;
    cursor: pointer;
}
.search-bar input[type="search"] {
    color: var(--main-text);
    font-size: 16px;
    background-color: var(--border-color);
    border: none;
}
.search-bar input:focus {
    outline: none;
}
.navbar li:nth-child(3) span {
    font-size: xx-large;
}
.navbar li:nth-child(3) {   /* align icon with 'write' */
    display: flex;
    align-items: center;
}
#profileimg img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown {
    display: none;
    position: absolute;
    top: 90%;
    right: 2%;
    background-color: var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}
#profileimg:hover .dropdown {
    display: block;
}
.dropdown li {
    display: block;
    text-align: center;
}
.dropdown li a {
    padding: 10px;
    color: var(--link-color);
    font-size: 16px !important;
    font-family: Roboto !important;
}
.dropdown li a:hover {
    font-weight: 500;
}







/* main flex-grid has two boxes: left window and main content */
.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--main-bg);
}

.left-window {
    flex: 2;
    padding-top: 4rem;
    border-right: 1px solid var(--border-color);
    font-family: Roboto;
}
.topics {
    position: sticky;
    top: 60px;
}
.topics h4 {
    padding: 10px 10px 10px 0;
}
.topics ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 15px 15px 0;
}
.topics li {
    min-width: 4rem;
    text-align: center;
    list-style: none;
    background-color: var(--border-color);
    padding: 10px;
    border-radius: 4px;
}
.topics a {
    text-decoration: none;
    color: var(--link-color);
}
.topics a:hover{
    font-weight: 500;
}




.main-content {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 70px;
    font-family: Roboto;
}

.article-author {
    width: 50%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.post {
    padding: 30px 0 30px 0;
}
.post {
    border-bottom: 1px solid var(--border-color);
}
.post h2 {
    padding: 10px 0 10px 0;
}
.post a {
    text-decoration: none;
}
.post-container {
    display: flex;
    justify-content: space-between;
}
.post-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.post-main-content a {
    color: var(--main-text)
}
.post-main-content a:nth-child(2){
    flex: 1;
    font-family: Baskervville;
}
.post-footer {  /* post topics and save button */
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.post-footer ul {
    list-style: none;
}
.post-footer ul li {
    background-color: var(--border-color);
    padding: 5px;
    border-radius: 20px;
    font-size: 13px;
}
.post-footer span {   /* save button icon */
    font-size: x-large;
}
.post-footer p {
    display: flex;
    align-items: center;
}
.post-footer p>a {
    color: var(--clap-comment-color);
}
.post-footer a {
    color: var(--link-color);
}
.post-footer a:hover {
    color: var(--link-color);
}
.post-thumbnail {
    width: 250px;
    padding: 0 0 30px 30px;
}
.post-thumbnail img {
    width: 100%;
}



.article-container {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}
.edit-delete-options {
    display: flex;
    column-gap: 10px;
    text-decoration: none;
}
.edit-delete-options a{
    text-decoration: none;
    color: var(--link-color);
}
.edit-delete-options a:hover {
    text-decoration: underline;
}
.full-article {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
}
.full-article p:has(> img) {
    text-align: center;
}
.full-article img {
    align-self: center;
}
.article-title{
    font-size: 60px;
}
.article-likes-comments {
    display: flex;
    column-gap: 20px;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.article-likes-comments a {
    text-decoration: none;
    color: var(--clap-comment-color);
}
.article-likes-comments a:hover{
    color: black;
}


#comment-form-container {
    max-width: 600px;
    padding: 1rem;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}
.comment-form {
    margin-bottom: 1rem;
}
.comment-form-field {
    margin-bottom: 1rem;
}
.comment-form-field textarea,
.submit-button {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}
.comment-form-field textarea {
    background-color: var(--border-color);
    width: 100%;
    max-height: 70px;
}
.submit-button:hover {
    background-color: var(--clap-comment-color);
}

#comments {
    max-width: 600px;
    padding: 1rem;
    border-radius: 8px;
}
.comment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.comment-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border-color);
}
.comment-item:last-child {
    border-bottom: none;
}
.comment-username {
    font-weight: normal;
    font-family: Roboto;
    color: var(--clap-comment-color);
}
.comment-username i {
    font-weight: lighter;
}
.comment-body {
    margin: 0.25rem 0 0 0;
    color: var(--main-text);
}
.no-comments {
    text-align: center;
    font-size: 20px;
    color: var(--clap-comment-color);
    font-style: italic;
}








footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
    padding: 30px;
    font-family: Roboto;
    background-color: var(--border-color);
}
footer a {
    color: var(--link-color)
}
footer div {
    text-align: center;
    padding: 10px;
}
footer div span{
    font-family: Anton;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}






.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  
  .checkbox-label i {color: #f1c40f;}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }







  .writeform form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .writeform form button {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
}
.writeform form button:hover {
    background-color: var(--clap-comment-color);
}

.trending-profile {
    border-radius: 20px;
}