{% extends 'index.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="article-container">
<div class="full-article">
<img src="{{ article.image.url }}" width="250px">
{{ article.title }}
{{ article.body|safe }}
</div>
</div>


<div>
    <form method="post">
    {% csrf_token %}
    {% if form %}
        {% for field in form %}
            <p>{{ field }}</p>
        {% endfor %}
    {% endif %}
    <button type="submit">Comment</button>
    </form>
</div>
<div>
    {% if comments %}
    <ul>
        {% for comment in comments %}
            <li>{{ comment.username }}: {{ comment.body }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

