<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Baskervville:ital@0;1&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <ul class="navbar">
            <li>
                <a href="{% url 'home' %}">
                    <p>YEMENA</p>
                </a>
            </li>
            <li>
                <div class="search-bar">
                    <form action="{% url 'searchArticle' %}">
                        {% csrf_token %}
                        <input type="search" name="search" placeholder="Search">
                        <button type="submit" class="mdi mdi-magnify"></button>
                    </form>
                </div>
            </li>
            <li>
                <a href="{% url 'topArticles' %}">Top articles</a>
            </li>
            <li>
                <a href="{% url 'newArticles' %}">Newest</a>
            </li>
            <li><span class="mdi mdi-fountain-pen-tip"></span>
                <a href="{% url 'write' %}">Write</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Log out</a>
            </li>
            <li id="profileimg">
                <img src="{{ user_profile.profileimg.url }}">
                <ul class="dropdown">
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                    <li>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="checkbox-label">
                            <i class="mdi mdi-brightness-2"></i>
                            <i class="mdi mdi-white-balance-sunny"></i>
                            <span class="ball"></span>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </header>

    <div class="hidden-menu">
        <ul>
            <li>
                <div class="search-bar">
                    <form action="{% url 'searchArticle' %}">
                        {% csrf_token %}
                        <input type="search" name="search" placeholder="Search">
                        <button type="submit" class="mdi mdi-magnify"></button>
                    </form>
                </div>
            </li>
            <li>
                <a href="{% url 'topArticles' %}">Top articles</a>
            </li>
            <li>
                <a href="{% url 'newArticles' %}">Newest</a>
            </li>
        </ul>
    </div>

    <!-- everything below the header except the header including the sidemenu and the main content such the posts -->
    <div class="main">
        <div class="left-window">
            {% block left-window %}
            <div class="topics">
                <h4>Browse by topics</h4>
                <ul class="topics">
                    {% for article_tag in tags %}
                    <li>
                        <a href="{% url 'articlesByTag' %}?tag={{ article_tag }}">{{ article_tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div> 
            <div class="topics">
                <h4>Trending Authors</h4>
                <ul class="topics">
                    {% for user in users %}
                    <li>
                        <img src="{{ user.profile.profileimg.url }}">
                        {{ user.username }} {{ user.profile.profileimg.url }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endblock %}
        </div>

        <div class="main-content">
            {% block content %}
            {% load template_filters %}
            {% if articles %}
            {% for article in articles %}
            <div class="post" id="article-{{ article.id }}">
                <div class="article-author">
                    <p>By {{ article.user.username }}</p>
                    <p><i>{{ article.created_on|date:"F j, Y" }}</i></p>
                </div>
                <div class="post-container">
                    <div class="post-content">
                        <div class="post-main-content">
                            <a href="{% url 'viewArticle' article.id %}">
                                <h2>{{ article.title }}</h2>
                            </a>
                            <a href="{% url 'viewArticle' article.id %}">
                                {{ article.body|strip_images|truncatewords:50|safe }}
                            </a>
                        </div>
                        <div class="post-footer">
                            <ul>
                                <li>
                                    {% for article_tag in article.tags.all %}
                                    <a href="{% url 'articlesByTag' %}?tag={{ article_tag }}">{{ article_tag }}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                            <p id="likes">
                            <p>
                                <a href="{% url 'likearticle' %}?article_id={{ article.id }}"><span
                                        class="mdi mdi-hand-clap"></span>{{ article.no_of_claps }}</a>
                            </p>
                            </p>
                            <p>
                                <a href="{% url 'viewArticle' article.id %}#comments"><span
                                        class="mdi mdi-comment"></span>{{ article.comments.count }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="post-thumbnail">
                        <a href="{% url 'viewArticle' article.id %}">
                            <img src="{{ article.image.url }}">
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div>No articles found</div>
            {% endif %}
            {% endblock %}
        </div>

    </div>

    <footer>
        <div><span>INKFLUENCE</span> - a playground for sharing information.</div>
        <div>
            <ul>
                <li><a href="">Guides</a></li>
                <li><a href="">Docs</a></li>
            </ul>
        </div>
        <div>Made by Karma Thapkhey &#169; 2024 WebDev Mini-project </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>