<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Baskervville:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <ul class="navbar">
            <li><a href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="2 1 16 16" height="48px"><path d="M8,11H9V10H10V9H11V8H12V7H13V4H8ZM7,16H6V15H5V14H6V3H15V15H7ZM14,14V8H13V9H12V10H11V11H10V12H9V14Z"/></svg><p>INKFLUENCE</p></a></li>
            <li>
                <div class="search-bar">
                    <form action="{% url 'searchArticle' %}">
                        {% csrf_token %}
                        <input type="search" name="search" placeholder="Search">
                        <button type="submit" class="mdi mdi-magnify"></button>
                    </form>
                </div>
            </li>
            <li><span class="mdi mdi-fountain-pen-tip"></span>
                <a href="{% url 'write' %}">Write</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Log out</a>
            </li>
            <li>
                <a href="{% url 'settings' %}">Settings</a>
            </li>
            <li id="profileimg">
               <a href="{% url 'settings' %}"><img src="{{ user_profile.profileimg.url }}"></a>
            </li>
        </ul>
    </header>
    <!-- everything below the header except the header including the sidemenu and the main content such the posts -->
    <div class="main">
        <div class="left-window">
            {% block left-window %}
            <div class="topics">
                <h4>Browse by topics</h4>
                <ul class="topics">
                    {% for article_tag in tags %}
                        <li>
                            <a href="{% url 'articlesByTag' %}?tag={{ article_tag }}">{{ article_tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endblock %}
        </div>

        <div class="main-content">
            {% block content %}
            {% load template_filters %}
                {% for article in articles %}
                <div class="post">
                    <a href="{% url 'viewArticle' article.id %}">
                        <h2>{{ article.title }}</h2>
                    </a>
                    <div class="post-container">
                        <div class="post-content">
                            <div class="post-main-content">
                                {{ article.body|strip_images|truncatewords:50|safe }}
                            </div>
                            <div class="post-footer">
                                <ul>
                                    <li>
                                        {% for article_tag in article.tags.all %}
                                            <a href="{% url 'articlesByTag' %}?tag={{ article_tag }}">{{ article_tag }}</a>
                                        {% endfor %}
                                    </li>
                                </ul>
                                <p><span class="mdi mdi-hand-clap"></span>Clap</p>
                                <p><span class="mdi mdi-bookmark-outline"></span>Save</p>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <img src="{{ article.image.url }}" width="250px">
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endblock %}
        </div>

    </div>

   <footer>
    <div><span>INKFLUENCE</span> - a playground for sharing information.</div>
    <div>
        <ul>
            <li><a href="">Share Feedback</a></li>
            <li><a href="">Guides</a></li>
            <li><a href="">Docs</a></li>
        </ul>
    </div>
    <div>Made by Karma Thapkhey &#169; 2024 WebDev Mini-project </div>
   </footer>
   <script src="{% static 'script.js' %}">
</body>
</html>