<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Stories & Ideas</title>
    {% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'landing.css' %}">
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" id="logo-name"><svg xmlns="http://www.w3.org/2000/svg" viewBox="2 1 16 16" height="48px"><path d="M8,11H9V10H10V9H11V8H12V7H13V4H8ZM7,16H6V15H5V14H6V3H15V15H7ZM14,14V8H13V9H12V10H11V11H10V12H9V14Z"/></svg><p>INKFLUENCE</p></a>
            <ul>
                <li><a href={% url 'login' %}>Write</a></li>
                <li><a href={% url 'login' %}>Sign in</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
        <h1>Human stories & ideas</h1>
        <p>A place to read, write, and deepen your understanding</p>
        <a href={% url 'signup' %} class="cta">Sign up</a>
        <a href={% url 'login' %} class="cta">Login</a>
        </div>
    </main>
    <footer>
        <div><span>INKFLUENCE</span> - a playground for sharing information.</div>
        <div>
            <ul>
                <li><a href="">Guides</a></li>
                <li><a href="">Docs</a></li>
            </ul>
        </div>
        <div>Made by Karma Thapkhey &#169; 2024 WebDev Mini-project </div>
    </footer>
</body>
</html>