{% extends 'login_signup_base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'login_signup.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Login here</h1>
    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
    <form action="" method="POST" class="form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" class="form-input" value="{{ request.POST.username|default:'' }}">
        <input type="password" name="password" placeholder="Password" class="form-input">
        <button type="submit" class="submit-button">Login</button>
    </form>
    <p>Not a member? <a href="{% url 'signup' %}">Sign up</a></p>
    <a href="{% url 'landing_page' %}"><span class="mdi mdi-arrow-left-circle">Back</span></a>
</div>
{% endblock %}
