{% extends 'login_signup_base.html' %}
    {% block style %}
    {% endblock %}
    
    {% block content %}
    <div class="container">
        <h1>Sign up here</h1>
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" class="form-input" value="{{ username }}">
            <input type="email" name="email" placeholder="Email" class="form-input" value="{{ email }}">
            <input type="password" name="password1" placeholder="Password" class="form-input">
            <input type="password" name="password2" placeholder="Re-enter password" class="form-input">
            <button type="submit" class="submit-button">Sign up</button>
        </form>
        <p class="member-info">Already a member? <a href= " {% url 'login' %} " >Login</a></p>
    </div>
    {% endblock %}



