{% extends 'index.html' %}

{% block content %}

{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form %}
    {{ form.media }}

    <div class="container container-fluid w-50 p-5">
        {%for field in form%}
            <div class="row p-2">{{ field|as_crispy_field|safe }}</div>
        {%endfor%}

        <div class="row p-2">
            <ul class="list-inline text-right">
                <li class="list-inline-item">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" class="btn btn-Success">Save</button>
                </li>
            </ul>
        </div>
    </div>
    {%endif%}

</form>

{% endblock %}