{% extends 'index.html' %}

{% block content %}

{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form %}
    {{ form.media }}

        {%for field in form%}
            <div class="row p-2">{{ field|as_crispy_field|safe }}</div>
        {%endfor%}

        <button type="reset" class="btn btn-secondary">Reset</button>
        <button type="submit" class="btn btn-Success">Save</button>
    {%endif%}
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}

{% endblock %}